@model List<SportLife.Website.Models.OfficeCommon.RoleViewModel>

<ul class="role-list dl-horizontal">
    @foreach ( var role in Model ) {
        <li>
            <div class="colored-list-item">@role.RoleName</div>
        </li>
    }
</ul>
