@using SportLife.Website.Resouses;
@model SportLife.Website.Models.OfficeCommon.Officer

@{
    Layout = null;
}

<div>
    <div class="col-md-2">
        <aside>
            @Html.Partial("_UserProfileAside", Model.Profile)
            <div class="panel">
                @switch ( Model.Role ) {
                    case MainRoles.Administrator: 
                        Html.RenderPartial("_NavigationAside");
                        break;
                    case MainRoles.Client:
                        Html.RenderPartial("_NavigationAside");
                        break;
                    case MainRoles.Coach:
                        Html.RenderPartial("_NavigationAside");
                        break;
                }
            </div>
        </aside>
    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>
</div>
