<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"></li>
    <li role="presentation"></li>
    <li role="presentation"></li>
    <li role="presentation"></li>
    <li role="presentation"></li>
    <li role="presentation"></li>
</ul>
