<div>
    <div class="col-md-2">
        <aside>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"></li>
                <li role="presentation"></li>
                <li role="presentation"></li>
                <li role="presentation"></li>
                <li role="presentation"></li>
                <li role="presentation"></li>
            </ul>
        </aside>
    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>
</div>